<mat-card>
  <mat-card-title>Update Product</mat-card-title>

  <form>
    <mat-form-field>
      <input
        matInput
        placeholder="Name"
        name="name"
        [(ngModel)]="product.name"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Price (R$)"
        name="price"
        [(ngModel)]="product.price"
        type="number"
        min="0.1"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Year"
        name="year"
        [(ngModel)]="product.year"
        type="number"
        min="1990"
        max="2020"
      />
    </mat-form-field>
  </form>

  <button mat-raised-button (click)="update()" color="primary">Update</button>
  <button mat-raised-button (click)="cancel()">Cancel</button>
</mat-card>
